# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# IDE/editor configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test directories
tests/

# Build artifacts
build/
dist/
*.egg-info/
